In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

In [49]:
df = pd.read_csv("/Users/leon.zhao/Desktop/py/product_ds_exercise_2018_h2_dataset.csv")

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12357 entries, 0 to 12356
Data columns (total 16 columns):
id                                     12357 non-null object
city_name                              12357 non-null object
signup_os                              6953 non-null object
signup_channel                         11143 non-null object
signup_timestamp                       11194 non-null datetime64[ns]
bgc_date                               7803 non-null datetime64[ns]
vehicle_added_date                     11121 non-null datetime64[ns]
vehicle_make                           11727 non-null object
vehicle_model                          12357 non-null object
vehicle_year                           12357 non-null int64
first_completed_trip_timestamp         6790 non-null datetime64[ns]
signup_timestamp_date                  11194 non-null datetime64[ns]
bgc_date_date                          7803 non-null datetime64[ns]
vehicle_added_date_date                11121 non-null datetime64[ns]
first_completed_trip_timestamp_date    6790 non-null datetime64[ns]
timediff_signup_to_first_trip          6149 non-null timedelta64[ns]
dtypes: datetime64[ns](8), int64(1), object(6), timedelta64[ns](1)
memory usage: 1.5+ MB

In [73]:
df.head()

,id,city_name,signup_os,signup_channel,signup_timestamp,bgc_date,vehicle_added_date,vehicle_make,vehicle_model,vehicle_year,first_completed_trip_timestamp,signup_timestamp_date,bgc_date_date,vehicle_added_date_date,first_completed_trip_timestamp_date,timediff_signup_to_first_trip
0,082befb0-c1de-4c14-8700-94a7943a7545,Strark,NaN,R2D,2017-07-06 20:42:17,NaT,2017-07-06 20:42:56,Volkswagen,CC,2012,NaT,2017-07-06,NaT,2017-07-06,NaT,NaT
1,1ae6156f-63fc-40cf-9734-0995978c4b6e,Berton,ios web,Dost,2017-07-03 17:41:07,2017-07-03 17:42:06,2017-07-03 17:41:14,Toyota,4Runner,2003,2017-07-23 00:26:50,2017-07-03,2017-07-03,2017-07-03,2017-07-23,20 days
2,2a4a4eef-14ef-4ceb-82eb-66f1f7d0d219,Berton,NaN,R2D,2017-07-10 22:55:29,NaT,2017-07-11 17:44:44,Hyundai,Elantra,2015,NaT,2017-07-10,NaT,2017-07-11,NaT,NaT
3,56fe7597-3ad8-4798-8be8-5fbc4e2d3151,Berton,ios web,Referral,2017-07-27 18:27:21,2017-07-27 18:31:43,2017-07-27 18:31:09,Honda,Civic,2017,2017-07-31 04:07:24,2017-07-27,2017-07-27,2017-07-27,2017-07-31,4 days
4,67370341-68a5-415f-acf2-be58832a8f9c,Wrouver,other,Referral,2017-07-17 22:20:35,2017-07-17 22:21:09,2017-07-17 22:20:53,Honda,Accord,1999,NaT,2017-07-17,2017-07-17,2017-07-17,NaT,NaT

In [54]:
for i in ['signup_timestamp', 'bgc_date', 'vehicle_added_date', 'first_completed_trip_timestamp']:
    df[i] = pd.to_datetime(df[i])
    df[i+'_date'] = pd.to_datetime(df[i].dt.date)

In [106]:
df['timediff_signup_to_first_trip'] = df['first_completed_trip_timestamp_date']-df['signup_timestamp_date']

In [107]:
df['timediff_signup_to_first_trip'].describe()

count                      6149
mean     9 days 18:47:21.827939
std      7 days 16:46:58.162555
min             0 days 00:00:00
25%             4 days 00:00:00
50%             7 days 00:00:00
75%            14 days 00:00:00
max            30 days 00:00:00
Name: timediff_signup_to_first_trip, dtype: object

In [108]:
df2 = []
df2 = pd.DataFrame(df2)
df2['timediff_signup_to_first_trip_nona'] = df['timediff_signup_to_first_trip'].dropna()

In [132]:
df['city_name'].unique()

array(['Strark', 'Berton', 'Wrouver'], dtype=object)

TypeError: Cannot compare type 'Timedelta' with type 'NaTType'